<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Stream Player</title>

    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link href="https://vjs.zencdn.net/7.20.3/video-js.css" rel="stylesheet" />
    {{ encore_entry_link_tags('videojs-contrib-hls') }}
    {{ encore_entry_link_tags('videojs-contrib-hls.min') }}
</head>
<body>

<video id=example-video width=960 height=540 class="video-js vjs-default-skin" controls>
  <source
     src="{{ url|raw }}"
     type="application/x-mpegURL">
</video>
<script src="video.js"></script>
<script src="videojs.hls.min.js"></script>
<script>
var player = videojs('example-video');
player.play();
</script>


{{ encore_entry_script_tags('videojs-contrib-hls') }}
{{ encore_entry_script_tags('videojs-contrib-hls.min') }}
<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
</body>
</html>

{# The following Tailwind classes are used in publicPlayer.js, add them here to #}
{# make sure they are included when running PurgeCSS: #}
{# w-screen h-screen #}
